@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Sarabun:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mont{
  font-family: 'Montserrat', sans-serif;
}

.kdam{
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.custom-modal .ant-modal-content {
  background-color: #000000; /* Set the desired background color */
  color: #ffffff; /* Set the desired text color */
}

